<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h2>{{gimme.article.title}}</h2>
        <p>Id: {{gimme.article.id}}</p>
        <p>Content: {{gimme.article.content}}</p>
        <p><strong>Current tenant:</strong> {{ tenant.subdomain }} (name: {{ tenant.name }})</p>
    </body>
</html>
