{{ url(gimme.article.seoMetadata.metaMedia) }}

{{ url(gimme.article.seoMetadata.ogMedia) }}

{{ url(gimme.article.seoMetadata.twitterMedia) }}

<p>{{ gimme.article.seoMetadata.ogTitle }}</p>
<p>{{ gimme.article.seoMetadata.ogDescription }}</p>

<p>{{ gimme.article.seoMetadata.metaTitle }}</p>
<p>{{ gimme.article.seoMetadata.metaDescription }}</p>

<p>{{ gimme.article.seoMetadata.twitterTitle }}</p>
<p>{{ gimme.article.seoMetadata.twitterDescription }}</p>
