{% extends 'base.html.twig' %}

{% block body %}

<div id="page" class="container">

 <!-- Content -->
 <section id="content">

   <div class="row article_content">

   	<article class="news_item span8 ">
			<div class="thumbnail content_text">
       		<img src="{{ asset('theme/assets/img/images-cms-image-000000103X.jpg') }}" alt="Boat in Copenhagen canals (photo: Source Fabric)">
       		<h6 class="caption ">Boat in Copenhagen canals</h6>
    	</div>

	      <div class="content content_text">
       		<h6 class="info">{{ gimme.article.publishedAt|date("d.m.Y, H:i") }}</h6>
          {###### We can also generate following timestamps #######}
          {#
          <h6 class="info">Creation date: {{ gimme.article.createdAt|date("d.m.Y, H:i") }}</h6>
          <h6 class="info">Update date: {{ gimme.article.updatedAt|date("d.m.Y, H:i") }}</h6>
          #}
        		<h2 class="title">{{ gimme.article.title }}</h2>
				    {{ gimme.article.body|raw }}
			</div>
		</article>

		
      <aside class="span4 news_item">
      	<div class="article_authors">
         	<h3>{{ 'article.sidebar.writtenBy'|trans|desc('Written By:') }}</h3>
            <div class="author_item row">
            	<a href="/user/profile/ssarah" class="author_image span1"><img alt="ssarah" src="{{ asset('theme/assets/img/images-7a5a53fbf907cb078151a890a2ad20e9d4011bd0.jpg') }}"></a>
               <div class="span3 author_info">
               	<a href="/user/profile/ssarah">Sarah Staffwriter</a>
                  <p>Vim tale evertitur no, ex vel laudem equidem. At per numquam euismod iracundia. Verear vivendo intellegam vel eu, ut nec delectus corrumpit, mei in mundi deleniti. Vix ut falli aliquam atomorum, ne mea perpetua patrioque.</p>
               </div>
            </div>
         </div>
         <img style="margin: 20px auto 0 auto; display:block;" src="{{ asset('theme/assets/img/300x250.png') }}" alt="Sourcefabric">    
			
			  {# ###### Once we have support for related articles, this can be put into purpose ######
			  <div class="related_articles margin_top_20">
	         <h3>{{ 'article.sidebar.relatedArticles'|trans|desc('Related articles') }}</h3>
            <ul>
               <li><a href="article.html">Tax and trade bureau considers alcohol labeling</a></li>
					     <li><a href="article.html">New horizons for the browser</a></li>
					     <li><a href="article.html">Luxury health breaks on offer</a></li>
				    </ul>
        </div>
        #} 

       </aside>
    </div>

{% include '_tpl/latest-news.html.twig' %}

    </section><!-- End Content -->

  </div>
</div>
{% endblock %}

{% block template_code %}
<pre class="js-template-code" style="display:none;">{{ source(_self.getTemplateName())|escape('html') }}</pre>
{% endblock %}
