{% extends 'base.html.twig' %}

{% block amphtml %}
    <link rel="amphtml" href="{{ url(gimme.article)|amp }}">
{% endblock %}

{% block body %}
<div id="page" class="container">

  <!-- Content -->
  <section id="content">

    <div class="row article_content">
    {% cache 'article' {gen: gimme.article} %}

      <article class="news_item span8 ">
         <div class="thumbnail content_text">
          {% if gimme.article.featureMedia %}
            {% gimme rendition with { 'media': gimme.article.featureMedia, 'name': '770x515' } %}
              <img src="{{ url(rendition) }}" alt="{{ gimme.article.featureMedia.description }}">
              <h6 class="caption">{{ gimme.article.featureMedia.description }}</h6>
            {% endgimme %}
          {% endif %}
          </div>

          <div class="content content_text padding_bottom_10">
              <h6 class="info">Author(s): {% for author in gimme.article.authors %}{{ author.name }} ({{ author.role }}),{% endfor %}
                  Publish date: {{ gimme.article.publishedAt|date("d.m.Y, H:i") }} | Creation date: {{ gimme.article.createdAt|date("d.m.Y, H:i") }} | Update date: {{ gimme.article.updatedAt|date("d.m.Y, H:i") }}</h6>
              <h2 class="title">{{ gimme.article.title }}</h2>
              <p>{{ gimme.article.body|raw }}</p>
          </div>

<div id="links">
<h2>Article gallery</h2>
{% gimmelist media from articleMedia with {'article': article} %}
  {% gimme rendition with {'media': media, 'name': '770x515', 'fallback': 'original' } %}
    <a href="{{ url(rendition) }}" title="{{ media.body }}"></a>
  {% endgimme %}
{% endgimmelist %}
</div>

<!-- The Gallery as inline carousel, can be positioned anywhere on the page -->
<div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<div id="disqus_thread"></div>
<script>
// var disqus_config = function () {
// this.page.url = {{ url(gimme.article) }};
// this.page.identifier = {{ gimme.article.id }};
// };

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//superdesk-publisher.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{{ countPageView(gimme.article) }}

      </article>

      <aside class="span4 news_item">
         <img style="margin: 20px auto 0 auto; display:block;" src="{{ asset('theme/img/300x250.png') }}" alt="Sourcefabric">
      </aside>

    {% endcache %}
    </div>

    {% include '_tpl/latest-news.html.twig' %}

  </section><!-- End Content -->

</div>
{% endblock %}

{% block template_code %}
<pre class="js-template-code" style="display:none;">{{ source(_self)|escape('html') }}</pre>
{% endblock %}
