{% extends 'base.html.twig' %}

{% block body %}
    <div id="page" class="container">

        <!-- Content -->
        <section id="content">

            {# Setup list and pagination parameters #}
            {% set itemsPerPage, currentPage = 8, app.request.get('page', 1) %}
            {% set start = ((currentPage - 1) * itemsPerPage) %}

            {% gimmelist article from articles|start(start)|limit(itemsPerPage) %}
            {% if loop.first %}
            <div class="row masonry" id="masonry_container" style="position: relative; height: 1076px;">
                {% endif %}
                <div class="span3 masonry-brick" style="position: absolute; top: 0px; left: 0px;">
                    {% cache 'newsArticle' {gen: article} %}
                    <article class="news_item">
                        {% gimmelist media from articleMedia|limit(1) with {'article': article, 'limit': 1} %}
                        {% if media.renditions is iterable %}
                            {% for rendition in media.renditions %}
                                {% if rendition.name == '478x326' %}
                                    <a href="{{ url(article) }}" class="thumbnail"><img src="{{ url(rendition) }}" alt="{{ media.body }}"></a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% endgimmelist %}
                        <div class="content content_text">
                            <h6 class="info">{% if article.metadata.byline %} {{ article.metadata.byline }} - {% endif %} {{ article.publishedAt|date("d.m.Y, H:i") }}</h6>
                            <h3 class="title"><a href="{{ url(article) }}">{{ article.title }}</a></h3>
                            <p>{{ article.body|truncate(200,true) }}</p>
                        </div>
                    </article>
                    {% endcache %}
                </div>

                {# Render pagination only at end of list #}
                {% if loop.last  %}
            </div>
            {#
                Use provided by default pagination template

                 Parameters:
                 * currentFilters (array) : associative array that contains the current route-arguments
                 * currentPage (int) : the current page you are in
                 * paginationPath (Meta|string) : the route name (or supported by router Meta object) to use for links
                 * lastPage (int) : represents the total number of existing pages
                 * showAlwaysFirstAndLast (bool) : Always show first and last link (just disabled)
             #}
            {% include '_tpl/pagination.html.twig' with {
            currentFilters: {}|merge(app.request.query.all()),
            currentPage: currentPage,
            paginationPath: gimme.route,
            lastPage: (loop.totalLength/itemsPerPage)|round(0, 'ceil')
            } only %}

            {% endif %}

            {% endgimmelist %}

        </section>
        <!-- End Content -->
    </div>
{% endblock %}

{% block template_code %}
<pre class="js-template-code" style="display:none;">{{ source(_self.getTemplateName())|escape('html') }}</pre>
{% endblock %}

