{% extends 'base.html.twig' %}

{% block body %}
<div id="page" class="container">

  <!-- Content -->
  <section id="content">
    <div class="row masonry" id="masonry_container" style="position: relative; height: 1076px;">

    {% gimmelist article from articles %}

	    <div class="span3 masonry-brick" style="position: absolute; top: 0px; left: 0px;">
       	<article class="news_item">
{% gimmelist media from articleMedia with {'article': article} %}
  {% if media.renditions is iterable %}   
    {% for rendition in media.renditions %} 
      {% if rendition.name == '478x326' %} 
            <a href="{{ url(article) }}" class="thumbnail"><img src="{{ url(rendition) }}" alt="{{ media.body }}"></a>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endgimmelist %}
            <div class="content content_text">
            	<h6 class="info">{% if article.metadata.byline %} {{ article.metadata.byline }} - {% endif %} {{ article.publishedAt|date("d.m.Y, H:i") }}</h6>
            	<h3 class="title"><a href="{{ url(article) }}">{{ article.title }}</a></h3>
            	<p>{{ article.body|truncate(200,true) }}</p>
        		</div>
    		</article>
   	 </div>

    {% endgimmelist %}

    </div>
    </section>
    <!-- End Content -->
  </div>
{% endblock %}
