{% extends 'base.html.twig' %}

{% block body %}

<div id="page" class="container">
  <!-- Content -->
  <section id="content">

    <!-- Row (12) -->
    <div class="row">

      <!-- Span (8) -->
      <div class="span8">
{% cache 'frontTop3' { time:600 } %}

{% gimmelist article from articles|limit(3) %}
{% if loop.first %}
        <article class="news_item">

{% gimmelist media from articleMedia|limit(1) with {'article': article} %}
  {% if media.renditions is iterable %}   
    {% for rendition in media.renditions %} 
      {% if rendition.name == '770x515' %} 
            <a href="{{ url(article) }}" class="thumbnail"><img src="{{ url(rendition) }}" alt="{{ media.body }}"></a>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endgimmelist %}            

            <div class="content content_text">
                <h6 class="info">{% if article.metadata.byline %} {{ article.metadata.byline }} - {% endif %} {{ article.publishedAt|date("d.m.Y, H:i") }}</h6>
                <h3 class="title"><a href="{{ url(article) }}">{{ article.title }}</a></h3>
                <p>{{ article.lead|striptags|truncate(200,true) }}</p>
            </div>
      </article>

{% elseif (loop.index == 2) or (loop.index == 3) %}

      {% if loop.index == 2 %}
      <!-- Row (8) -->
      <div class="row">
          <!-- Span (3) -->
          <div class="span3">

            <!-- News item -->
            <article class="news_item">

{% gimmelist media from articleMedia|limit(1) with {'article': article} %}
  {% if media.renditions is iterable %}   
    {% for rendition in media.renditions %} 
      {% if rendition.name == '478x326' %} 
              <a href="{{ url(article) }}" class="thumbnail"><img src="{{ url(rendition) }}" alt="{{ media.body }}"></a>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endgimmelist %}

              <div class="content content_text">
                <h6 class="info">{% if article.metadata.byline %} {{ article.metadata.byline }} - {% endif %} {{ article.publishedAt|date("d.m.Y, H:i") }}</h6>
                <h3 class="title"><a href="{{ url(article) }}">{{ article.title }}</a></h3>
                <p>{{ article.lead|striptags|truncate(200,true) }}</p>
               </div>
            </article><!-- End News item -->
          </div><!--End Span (3) -->
          {% endif %}

          {% if loop.index == 3 %}

          <!-- Span (5) -->
          <div class="span5">

    <article class="news_item">
        
{% gimmelist media from articleMedia|limit(1) with {'article': article} %}
  {% if media.renditions is iterable %}   
    {% for rendition in media.renditions %} 
      {% if rendition.name == '478x326' %} 
              <a href="{{ url(article) }}" class="thumbnail"><img src="{{ url(rendition) }}" alt="{{ media.body }}"></a>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endgimmelist %}

              <div class="content content_text">
                <h6 class="info">{% if article.metadata.byline %} {{ article.metadata.byline }} - {% endif %} {{ article.publishedAt|date("d.m.Y, H:i") }}</h6>
                <h3 class="title"><a href="{{ url(article) }}">{{ article.title }}</a></h3>
                <p>{{ article.lead|striptags|truncate(200,true) }}</p>
              </div>
    </article>

</div><!-- End Span (5) -->
{% endif %}
{% endif %}
{% if loop.last and loop.index > 1 %}</div><!-- End Row (8) -->{% endif %}
{% endgimmelist %}

{% endcache %}
</div><!-- End Span (8) -->

{% include '_tpl/front-sidebar.html.twig' %}

</div>
<!-- End Row (12) -->

{% include '_tpl/latest-news.html.twig' %}

</section><!-- End Content -->

</div>

{% endblock %}

{% block template_code %}
<pre class="js-template-code" style="display:none;">{{ source(_self.getTemplateName())|escape('html') }}</pre>
{% endblock %}
