{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="jumbotron" style="margin-top:20px;">
            <h1 class="display-3">{{ 'index.welcome.title'|trans|desc('Welcome to Default Theme!') }}</h1>
            <p class="lead">{{ 'index.welcome.text'|trans|desc('This is a Demo Theme. Check in action all awesome features provided by Superdesk Web Publisher.') }}</p>
        </div>

        <h4 class="color-class">This is example string to test css asset.</h4>

        {% container 'container_name' with {
            'styles': 'border: solid 1px red',
            'class': 'col-md-8',
            'data': {'custom-key': 'value'}
        }%}
        <h2>{{ 'index.default_container.header'|trans|desc('Default container header') }}</h2>
        <p>{{ 'index.default_container.text'|trans|desc('Minions ipso voluptate nisi reprehenderit occaecat. Enim hahaha bappleees cillum bappleees. Elit officia daa ullamco. Ullamco bappleees reprehenderit aliqua veniam bananaaaa. Minim sed aaaaaah laboris veniam. Pepete aliqua veniam sit amet quis butt tatata bala tu jiji quis minim.') }}</p>
        {% endcontainer %}

        <p><strong>{{ 'index.assigned.homepage'|trans|desc('Assigned homepage') }}:</strong> {{ page.name }} (id: {{ page.id }})</p>
        <h4><strong>{{ 'index.current.details'|trans|desc('Current theme details') }}:</strong></h4>
        <p><strong>{{ 'index.path'|trans|desc('Path') }}:</strong> {{ theme.path }}</p>
        <p><strong>{{ 'index.name'|trans|desc('Name') }}:</strong> {{ theme.name }}</p>
        <p><strong>{{ 'index.description'|trans|desc('Description') }}:</strong> {{ theme.description }}</p>
        <p><strong>{{ 'index.title'|trans|desc('Title') }}:</strong> {{ theme.title }}</p>
        <p><strong>{{ 'index.authors'|trans|desc('Authors') }}:</strong></p>
        <ul>
            {% for author in theme.authors %}
                <li>{{ author.name }} ({{ author.email }}), {{ author.homepage }}, {{ author.role }}</li>
            {% endfor %}
        </ul>

        <div class="col-md-4">
        <h2>{{ 'index.news.header'|trans|desc('News') }}</h2>
        <ul>
            {% gimmelist article from articles with {'route': '/news'} %}
            <li><a href="{{ url(article) }}">{{ article.title }} </a></li>
            {% endgimmelist %}
        </ul>
        </div>
    </div>
{% endblock %}

{% block template_code%}
<h3>Template code used to render that page <small><a href="#" class="js-toggle-code">show/hide</a></small></h3>
<pre class="js-template-code" style="display:none;">{{ source(_self.getTemplateName())|escape('html') }}</pre>
{% endblock %}

