{% extends 'base.html.twig' %}

{% block body %}

<div id="page" class="container">
  <!-- Content -->
  <section id="content">

    <!-- Row (12) -->
    <div class="row">

{% cache 'frontTop3' { time:600 } %}

{% gimmelist article from articles with {'route': '/news'}  %}
{% if loop.first %}
      <!-- Span (8) -->
      <div class="span8">

        <article class="news_item">
            <a href="{{ url(article) }}" class="thumbnail"><img src="{{ asset('theme/assets/img/images-cms-image-000000099.jpg') }}" alt="Candidates (photo: Source Fabrić)"></a>
            <div class="content content_text">
                <h6 class="info">Frank N. Stein, Test Persona - {{ article.publishedAt|date("d.m.Y, H:i") }}</h6>
                <h3 class="title"><a href="{{ url(article) }}">{{ article.title }}</a></h3>
                <p>{{ article.body|truncate(200,true) }}</p>
            </div>
      </article>

{% elseif (loop.index == 2) or (loop.index == 3) %}

      {% if loop.index == 2 %}
        <!-- Row (8) -->
      <div class="row">

          <!-- Span (3) -->
          <div class="span3">

            <!-- News item -->
            <article class="news_item">
            	<a href="{{ url(article) }}" class="thumbnail"><img src="{{ asset('theme/assets/img/images-cms-image-000000102.jpg') }}" alt="La Scala di Spagna (photo: Source Fabricio)"></a>
               <div class="content content_text">
                    <h6 class="info">Sarah Staffwriter, Frank N. Stein - {{ article.publishedAt|date("d.m.Y, H:i") }}</h6>
                    <h3 class="title"><a href="{{ url(article) }}">{{ article.title }}</a></h3>
                    <p>{{ article.body|truncate(200,true) }}</p>
               </div>
            </article><!-- End News item -->
          </div><!--End Span (3) -->
          {% endif %}

          {% if loop.index == 3 %}

          <!-- Span (5) -->
          <div class="span5">

    <article class="news_item">
        
        <a href="{{ url(article) }}" class="thumbnail"><img src="{{ asset('theme/assets/img/images-cms-image-000000114.jpg') }}" alt="Arc of Konstantin (photo: Source F. Abricio)"></a>
               <div class="content content_text">
                   <h6 class="info">Ivan Zvonimir Čičak - {{ article.publishedAt|date("d.m.Y, H:i") }}</h6>
                   <h3 class="title"><a href="{{ url(article) }}">{{ article.title }}</a></h3>
                    <p>{{ article.body|truncate(200,true) }}</p>
               </div>
    </article>

</div><!-- End Span (5) -->
</div><!-- End Row (8) -->
</div><!-- End Span (8) -->
{% endif %}
{% endif %}
{% endgimmelist %}

{% endcache %}

{% include '_tpl/front-sidebar.html.twig' %}

</div>
<!-- End Row (12) -->

{% include '_tpl/latest-news.html.twig' %}

</section><!-- End Content -->

</div>

{% endblock %}

{% block template_code %}
<pre class="js-template-code" style="display:none;">{{ source(_self.getTemplateName())|escape('html') }}</pre>
{% endblock %}

