{% extends 'base.html.twig' %}

{% block body %}
    <div id="page" class="container">

        <!-- Content -->
        <section id="content">

            {% set trendingTopic = app.request.get('topic')|toUpperCase %}
            <h2>Topic '{{ trendingTopic }}'</h2>

            {# Setup list and pagination parameters #}
            {% set itemsPerPage, currentPage = 8, app.request.get('page', 1) %}
            {% set start = ((currentPage - 1) * itemsPerPage) %}

            {% gimmelist article from articles|start(start)|limit(itemsPerPage)|order('publishedAt','desc') with {keywords: [trendingTopic]} %}
            {% if loop.first %}
            <div class="row masonry" id="masonry_container" style="position: relative; height: 1076px;">
                {% endif %}
                <div class="span3 masonry-brick" style="position: absolute; top: 0px; left: 0px;">
                    {% cache 'newsArticle' {gen: article} %}
                    <article class="news_item">
                        {% if article.featureMedia %}
                          {% gimme rendition with { 'media': article.featureMedia, 'name': '478x326' } %}
                            <a href="{{ url(article) }}" class="thumbnail"><img src="{{ url(rendition) }}" alt="{{ article.featureMedia.description }}"></a>
                          {% endgimme %}
                        {% else %}
                          {% gimmelist media from articleMedia|limit(1) with {'article': article} %}
                            {% gimme rendition with {media: media, 'name': '478x326', 'fallback': 'original' } %}
                              <a href="{{ url(article) }}" class="thumbnail"><img src="{{ url(rendition) }}" alt="{{ media.body }}"></a>
                            {% endgimme %}
                          {% endgimmelist %}
                        {% endif %}

                        <div class="content content_text">
                            <h6 class="info">{% if article.authors|length > 0 %} {% for author in article.authors %}{{ author.name }} ({{ author.role }}),{% endfor %} {% else %} {{ article.metadata.byline }} - {% endif %} {{ article.publishedAt|date("d.m.Y, H:i") }}</h6>
                            <h3 class="title"><a href="{{ url(article) }}">{{ article.title }}</a></h3>
                            <p>{{ article.lead|striptags|truncate(200,true) }}</p>
                        </div>
                    </article>
                    {% endcache %}
                </div>

                {# Render pagination only at end of list #}
                {% if loop.last  %}
            </div>
            {#
                Use provided by default pagination template

                 Parameters:
                 * currentFilters (array) : associative array that contains the current route-arguments
                 * currentPage (int) : the current page you are in
                 * paginationPath (Meta|string) : the route name (or supported by router Meta object) to use for links
                 * lastPage (int) : represents the total number of existing pages
                 * showAlwaysFirstAndLast (bool) : Always show first and last link (just disabled)
             #}
            {% include '_tpl/pagination.html.twig' with {
            currentFilters: {}|merge(app.request.query.all()),
            currentPage: currentPage,
            paginationPath: gimme.route,
            lastPage: (loop.totalLength/itemsPerPage)|round(0, 'ceil')
            } only %}

            {% endif %}

            {% endgimmelist %}

        </section>
        <!-- End Content -->
    </div>
{% endblock %}

{% block template_code %}
<pre class="js-template-code" style="display:none;">{{ source(_self)|escape('html') }}</pre>
{% endblock %}
