<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
    	<h1>Demo Theme</h1>
        <h2>Static: Features</h2>
        <h4>{{gimme.article.title}}</h4>
        <p>Id: {{gimme.article.id}}</p>
        <p>Content: {{gimme.article.content}}</p>
        <br>
        <p><strong>Current tenant:</strong> {{ tenant.subdomain }} (name: {{ tenant.name }})</p>
    </body>
</html>
