            <div class="container">
              
              <div id="login_popup" class="popup span6 offset3">
                <a href="#" class="close"></a>
                <div class="content content_text">
                  
                  <h3 class="popup_title bigger">Login / Sign up</h3>
                  <h4>Already have acoount? Login here:</h4>
                  {% if app.session.has('_security.last_error') %}
                    {# show error message after unsuccessful login attempt #}
                    {% set error = app.session.get('_security.last_error') %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                  {% endif %}

                  <div class="styled_form login_form">
                    
                    <ul class="logininfo" style="display:none">
                      <li><a href="/dashboard">Dashboard</a></li>
                      <li><a href="{{ url('security_logout') }}">Logout</a></li>
                    </ul>

                    <form name="login" action="{{ path('security_login_check') }}" method="POST" id="loginform">
                     <div class="field_row row">
                       <label for="l_field_login" class="span2">User name</label>
                       <div class="span3">
                        <input type="text" name="_username" value="{{ app.session.get('_security.last_username') }}" />
                      </div>
                    </div>

                    <div class="field_row row">
                     <label for="l_field_password" class="span2">Password</label>
                     <div class="span3">
                       <input type="password" name="_password" value="" />
                     </div>
                   </div>

                   <div class="field_row row">
                     <div class="span3 offset2">
                       {#
                       <ul class="login_menu float_left">
                         <li><a href="/auth/password-restore">Forgotten password?</a></li>
                         <li><a href="/register">Registration</a></li>
                       </ul>
                       #}
                       <input type="hidden" name="_login_success_path" value="{{ url(homepage) }}" />
                       <input type="hidden" name="_login_failure_path" value="{{ url(homepage) }}" />
                       <input type="submit" value="Login" class="float_right">
                     </div>
                   </div>

                   </form>

                   <h4>Don't have account yet? Create one here:</h4>
                    <form name="register" action="/api/v1/users/register/" method="POST" id="registerform">
                     <div class="field_row row">
                       <label for="l_field_login" class="span2">E-mail</label>
                       <div class="span3">
                        <input type="email" name="_email" value="" />
                      </div> 
                     </div>                   
                     <div class="field_row row">
                       <label for="l_field_login" class="span2">User name</label>
                       <div class="span3">
                        <input type="text" name="_username" value="" />
                      </div>
                    </div>
                     <div class="field_row row">
                       <label for="l_field_login" class="span2">Password</label>
                       <div class="span3">
                        <input type="text" name="_password" value="" />
                      </div>
                    </div>   
                    <div class="field_row row">
                       <label for="l_field_login" class="span2">Confirm password</label>
                       <div class="span3">
                        <input type="text" name="_password2" value="" />
                      </div>
                    </div>     
                    <div class="field_row row">
                     <div class="span3 offset2"> 
                     <input type="submit" value="Register" class="float_right">
                     </div>
                   </div>           
                    </form>

                    <div id="registrationResult"></div>

                    <script>
// Attach a submit handler to the form
$( "#registerform" ).submit(function( event ) {
 
  // Stop form from submitting normally
  event.preventDefault();
 
  // Get some values from elements on the page:
  var $form = $( this ),
    email = $form.find( "input[name='_email']" ).val(),
    url = $form.attr( "action" );
 
  // Send the data using post
  var posting = $.post( url, { email: email } );
 
  // Put the results in a div
  posting.done(function( data ) {
    var content = $( data ).find( "#content" );
    $( "#registrationResult" ).empty().append( content );
  });
});
</script>

                 </div>
               </div>
             </div>
           </div>
